// Primary Colour Variations:
.primary{ color: $primary; }

// Secondary Colour Variations:
.primaryLight{ color: $primaryLight; }

// Tertiary Colour Variations:
.primaryDark{ color: $primaryDark; }

// Accent Colour Variations:
.accent { color: $accent; }
.accentLight{ color: $accentLight; }
.accentDark{ color: $accentDark; }
.accentContrast{ color: $accentContrast; }

// Button Colour Variations:
.btnPrimary { background-color: $primary; color: $primaryText;}
.btnAccent { background-color: $accent; color: $primaryText;}
.btnWarning{ background-color: $warning; }
.btnDanger{ background-color: $danger; }

// Text Colours:
.text { color: $primaryText; }
.subject { color: $secondaryText; }
.accent { color: $accent; }
.error { color: $danger; }