//Theme overrides
.bx--inline-notification {
    max-width: 100%;
}

.responsive-form {
    padding: 60px 250px;
}

.bx--form-requirement {
    margin: 1.2rem 0;
}

.formAlignment {
    margin-left: 15%; 
    margin-right: 15%;
}

.placeholderForms {
    height: 65px;
}

.bx--loading__stroke {
    stroke: $accent;
}

.bx--data-table th {
    padding: 0 10px!important;
}
.bx--data-table-header {
    display: flex;
    padding: 15px;
}

.home-dropdown .bx--dropdown {
    background-color: $accent-2;
}

@media(max-width: 860px) {
    .responsive-form {
        padding: 2rem;
    }
    .bx--data-table-container {
        min-width: 100%;
        max-width: 100%;
    }
}

.title {
    font-size: 58px;
}

.subtitle {
    font-size: 36px;
}

.lineHeight {
    line-height: 1.1;
}

.bx--table-sort {
    color: $accent;
}

.bx--data-table-header__title {
    color: $logo;
}

.bx--btn--secondary {
    background-color: $accent;
}

.bx--modal.is-visible {
    background-color: #000000dc;
}

.bx--select--inline .bx--select-input {
    background-color: $foreground;
}

.bx--checkbox-label[data-contained-checkbox-state=true]::before {
    background: $accent;
    color: $accent;
}

//Form Input Prefix
.price-prefix {
    position: absolute;
    left: 5px;   
}
.price-input {
    padding: 0 1rem 0 1.5rem;
}

.percent-prefix {
    position: absolute;
    right: 5px;   
}

.bx--dropdown-text__inner {
    color: #D1D2D8;
}
