//Theme overrides
.bx--inline-notification {
    max-width: 100%;
}

.responsive-form {
    padding: 60px 250px;
}

.bx--loading__stroke {
    stroke: $accent;
}

@media(max-width: 860px) {
    .responsive-form {
        padding: 2rem;
    }
    .bx--data-table-container {
        min-width: 100%;
        max-width: 100%;
    }
}

.bx--inline-notification__title {
    font-size: 58px;
}

.bx--inline-notification__subtitle {
    font-size: 38px;
}

.lineHeight {
    line-height: 1.1;
}