// *** SPACING SCALE *** //
.spacing-4xs { letter-spacing: $spacing-4xs; }
.spacing-3xs { letter-spacing: $spacing-3xs; }
.spacing-2xs { letter-spacing: $spacing-2xs; }
.spacing-xs { letter-spacing: $spacing-xs; }
.spacing-sm { letter-spacing: $spacing-sm; }
.spacing-md { letter-spacing: $spacing-md; }
.spacing-lg { letter-spacing: $spacing-lg; }
.spacing-xl { letter-spacing: $spacing-xl; }
.spacing-2xl { letter-spacing: $spacing-2xl; }
.spacing-3xl { letter-spacing: $spacing-3xl; }

// *** LAYOUT SCALE *** //
