// Typography:
$font-family-sans-serif: 'Raleway', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Primary Colours:
$primary: #00171F;
$primaryContrast: #ffffff;

// Secondary Colours:
$primaryLight: #002641;

// Tertiary Colours:
$primaryDark: #003153;

// Accent Colours:
$accent: #9370DB;
$accentLight: #9e87ce;
$accentDark: #7b4bda;
$accentContrast: #000000;

// Button Colours:
$warning: #ffcc66;
$danger: #ee4444;

// Default:
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
